:root{
    --back-ground-color : #101820FF;
    --text-color: #FEE715FF;
}

body{
    background-color: var(--back-ground-color);
    color: var(--text-color);
    margin: 0px;
}

#header{
    text-align: center;
    font-size: 1.7rem;
}

/* h1{
    text-align: center;
} */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#date-of-birth{
    margin: 1rem 1rem 2rem;
    height: 25px;

    
}

#lucky-number{
    margin: 1rem 1rem 2rem;
    height: 25px;

    
}

#check{
    width: 100px;
    height: 30px;
    border-radius: 1rem;
}

.working {
    background-color: transparent;
    color: var(--text-color);
    border-color: var(--text-color);
}

.label-class{
    font-size: 1.2rem;
}

#message{
    font-size: 1.2rem;
}

.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.list-inline{
    display: inline;
    padding:0rem 0.5rem;
}

footer{
    background-color: var(--text-color);
    color: var(--back-ground-color);
    padding: auto;
    text-align: center;
    border-top-right-radius: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer .link{
    color: var(--back-ground-color);
    font-size: 1.7rem;
}

footer ul{
    padding-inline-start: 0px;

}

